### Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that can be accessed, managed, and updated easily. It is designed to store and manage large amounts of data efficiently and accurately. Databases can be used to store data related to various fields such as business, finance, education, healthcare, and more.

There are two types of databases: SQL and NoSQL. SQL stands for Structured Query Language, which is a standard language used to manage relational databases. SQL databases are based on the relational model, where data is stored in tables that are related to each other through common fields or keys. Examples of SQL databases include MySQL, Oracle, and PostgreSQL.

On the other hand, NoSQL databases are non-relational databases that do not follow the relational model. Instead, they use a variety of data models, such as document-oriented, key-value, graph, or column-family. NoSQL databases are designed to handle large volumes of unstructured or semi-structured data and can scale horizontally more easily than SQL databases. Examples of NoSQL databases include MongoDB, Cassandra, and Redis.

The main differences between SQL and NoSQL databases are:

1. Data model: SQL databases use a relational data model, whereas NoSQL databases use various data models.

2. Schema: SQL databases have a predefined schema, which defines the structure of the data, whereas NoSQL databases are schemaless or have a flexible schema.

3. Scalability: NoSQL databases are designed to scale horizontally, while SQL databases scale vertically.

4. Query language: SQL databases use SQL as their query language, while NoSQL databases have their own query languages.

5. Consistency: SQL databases enforce strong consistency, while NoSQL databases offer eventual consistency, which means that the data may not be immediately consistent across all nodes in the database cluster.

### Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL stands for Data Definition Language. It is a set of SQL statements used to define, modify, and delete database structures such as tables, indexes, views, and constraints.

The following are some commonly used DDL commands with examples:

1. CREATE: This command is used to create new database objects such as tables, views, and indexes.

Example:
To create a new table called "customers" with columns "customer_id", "customer_name", "customer_email", and "customer_phone", we can use the following CREATE statement:

CREATE TABLE customers (
    customer_id INT PRIMARY KEY,
    customer_name VARCHAR(50) NOT NULL,
    customer_email VARCHAR(50),
    customer_phone VARCHAR(15)
);

2. DROP: This command is used to delete an entire database object, such as a table or index.

Example:
To delete a table called "customers", we can use the following DROP statement:

DROP TABLE customers;


3. ALTER: This command is used to modify the structure of an existing database object, such as a table or column.

Example:
To add a new column called "customer_address" to the "customers" table, we can use the following ALTER statement:
ALTER TABLE customers
ADD customer_address VARCHAR(100);

4. TRUNCATE: This command is used to delete all data from a table, but it does not delete the table structure itself.

Example:
To delete all data from the "customers" table, we can use the following TRUNCATE statement:
TRUNCATE TABLE customers;

In summary, DDL commands are used to define and modify the structure of a database. CREATE is used to create new objects, DROP is used to delete objects, ALTER is used to modify objects, and TRUNCATE is used to delete data from a table.

### Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language, and it refers to the set of SQL commands used to modify data in a relational database. There are three main DML commands: INSERT, UPDATE, and DELETE.

1. INSERT: This command is used to add new data to a table in a database. 

For example, let's say we have a table called "employees" with columns "id", "name", and "salary". We can use the INSERT command to add a new employee to the table as follows:

In [3]:
INSERT INTO employees (name, salary)
VALUES ('Pradosh Kumar', 50000);

2. UPDATE: This command is used to modify existing data in a table.

For example, let's say we want to update the salary of the employee with ID 1 to 60000. We can use the UPDATE command as follows:

In [ ]:
UPDATE employees
SET salary = 60000
WHERE id = 1;
# This will modify the salary of the employee with ID 1 to 60000.

3. DELETE: This command is used to remove data from a table.

For example, let's say we want to remove the employee with ID 2 from the "employees" table. We can use the DELETE command as follows:

In [ ]:
DELETE FROM employees
WHERE id = 2;
# This will remove the row for the employee with ID 2 from the "employees" table.

### Q4. What is DQL? Explain SELECT with an example.

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from databases. DQL commands are used to select, retrieve, and manipulate data from a database.

The most commonly used DQL command is SELECT, which is used to retrieve data from one or more database tables.
Here's an example that demonstrates how to use SELECT to retrieve data from a table called "customers":

In [ ]:
SELECT first_name, last_name, email FROM customers WHERE state = 'CA';

This SELECT statement retrieves the first name, last name, and email address of all customers from the "customers" table where the state is 'CA'. The result of this statement will be a table of data with three columns: first_name, last_name, and email, and each row will represent a customer that matches the condition.

In addition to retrieving data, SELECT statements can also be used to perform calculations, sorting, grouping, and joining tables together. SELECT is a powerful command that is essential for working with databases and retrieving useful information from them.

### Q5. Explain Primary Key and Foreign Key.

Primary Key:
A primary key is a field or set of fields in a database table that uniquely identifies each record in the table. A primary key cannot contain duplicate values and must be unique for each row in the table. Typically, a primary key is used to ensure data integrity and provide a way to link data between tables. For example, a customer ID might be the primary key for a table of customer data. Primary keys can be created using a unique index or a constraint.

Foreign Key:
A foreign key is a field or set of fields in one table that refers to the primary key of another table. A foreign key establishes a relationship between two tables, where the values in one table correspond to the values in another table. This relationship is often used to link data between tables and create queries that retrieve related data. For example, a foreign key might be used to link a customer ID in an order table to the customer ID in a customer table. Foreign keys can be used to enforce referential integrity, which ensures that data in one table is consistent with data in another table. If a foreign key constraint is defined, the database will prevent data from being inserted or updated in a way that violates the referential integrity constraint.

### Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

To connect MySQL to Python, we need to have the mysql-connector-python library installed. We can install it using pip, like this:

In [ ]:
pip install mysql-connector-python

Once we have installed the library, we can connect to a MySQL database using the following Python code:

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="database"
)

mycursor = mydb.cursor()

In this code, we first import the mysql.connector module and use the connect() method to establish a connection to the MySQL database. We need to provide the database connection details, such as the host, username, password, and database name.

After establishing the connection, we create a cursor object using the cursor() method of the database connection object. The cursor object allows us to execute SQL statements on the database.

The execute() method is used to execute an SQL statement on the database using the cursor object. It takes an SQL statement as its parameter and returns the result of the statement, if any. Here's an example of how to use the execute() method to execute a SELECT statement:

In [ ]:
sql = "SELECT * FROM customers"

mycursor.execute(sql)

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

In this code, you first define an SQL SELECT statement and store it in the sql variable. You then call the execute() method on the cursor object, passing the sql variable as its parameter. This executes the SELECT statement on the database and returns the result.

The fetchall() method is used to fetch all the rows returned by the SELECT statement. It returns a list of tuples, where each tuple represents a row in the result set. You can then loop through the result set and print each row, as shown in the code above.

In summary, the cursor() method is used to create a cursor object, which allows you to execute SQL statements on the database. The execute() method is used to execute an SQL statement on the database using the cursor object, and the fetchall() method is used to retrieve the results of the SQL statement.

### Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query can be summarized as follows:

FROM clause: The FROM clause specifies the table or tables from which the data will be retrieved. If multiple tables are used, they may be joined using the JOIN clause.

WHERE clause: The WHERE clause filters the data based on a specified condition or set of conditions. It is used to retrieve only the rows that meet the specified criteria.

GROUP BY clause: The GROUP BY clause is used to group the result set by one or more columns. It is often used in conjunction with aggregate functions, such as COUNT, SUM, AVG, etc.

HAVING clause: The HAVING clause is used to filter the result set based on a specified condition or set of conditions. It is similar to the WHERE clause, but it is applied after the data has been grouped by the GROUP BY clause.

SELECT clause: The SELECT clause specifies the columns that will be included in the result set. It can also be used to apply functions or expressions to the data, such as CONCAT, DATE_FORMAT, etc.

ORDER BY clause: The ORDER BY clause is used to sort the result set based on one or more columns. It can sort the data in ascending or descending order.

LIMIT clause: The LIMIT clause is used to limit the number of rows returned by the query. It is often used in conjunction with the ORDER BY clause to retrieve the top N rows based on a specified criteria.

It's important to note that not all clauses are required in every query. The basic syntax of an SQL query is:

In [ ]:
SELECT column1, column2, ...
FROM table_name
WHERE condition;